# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-electron
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Capacitor
android/.gradle
android/app/build
ios/App/Pods
ios/App/App.xcworkspace

# Environment
.env
.env.local
.env.*.local

# Docker
*.pid
docker-compose.override.yml
